.main-container {
  margin-top: 15px;
}

.routing-hr {
  border-top: 1px solid #d5d5d5;
}

.m-t {
  margin-top: 15px;
}

.domain-textarea {
  resize: none;
}

.domain-name-helper {
  font-weight: 300;
}

.domains-list table tr {
  background-color: white;
}

.dot {
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  background-color: #d9534f;
}

.dot-green {
  background-color: #5cb85c;
}